@use 'reset';

body {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #f6f5f4;
}

canvas {
    border-radius: 12px;
    box-shadow:
        0 3px .75rem .125rem rgb(0 0 0 / 24%);
    background-color: #fff;
}
